body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100vh;
    background-color: #FEDDCA;
}

#header, #footer {
    width: 100%;
    flex: 1 1 auto;
}

#middle {
    flex: 0 1 auto;
    width: 800px;
    height: 500px;
    border: 2px solid;
    box-sizing: border-box;
    margin: 0px auto;
    overflow: hidden;
    position: relative;
}

#content {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 20px;
    height: calc(100% - 40px);
    min-width: 400px;
}

.block {
    position: relative;
    min-height: 50px;
    min-width: 100px;
    margin: 30px;
}

.text {
    position: absolute;
    bottom: 0px;
    display: none;
    padding: auto;
    font-family: "system-ui";
    font-size: 125%;
}

#middle img.mask {
    position: absolute;
    left: -800px;
    z-index: -1;
}

#middle img.bg {
    position: relative;
    left: -30px;
    top: -30px;

    z-index: -2;
    visibility: hidden;
}


#middle img.bg.animate {
    transform-origin: 0px 0px;
    transition-duration: 1.6s;
    transform: scale(0.9);
}